DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

DJANGO_SECRET_KEY=django-insecure-h%6f&da64-%9_1wiqrtx=+jz)&j87ze3636&-*b)$b!nnq6lvr
DJANGO_DEBUG=
DJANGO_DOMAIN=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

LANDING_DJANGO_SECRET_KEY=django-insecure-u8hih$rx$z7h8u#s71u207u6be@$eacjl=l6*x4x+v#w4vpjkz
LANDING_DJANGO_DEBUG=
LANDING_DJANGO_DOMAIN=
LANDING_DJANGO_ALLOWED_HOSTS=
LANDING_DJANGO_CSRF_TRUSTED_ORIGINS=

BOT_TOKEN=
BOT_NAME=

API_DOMAIN=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=