environs
pillow
Django
django-cors-headers
django-unfold
django-filter
markdown
passlib
SQLAlchemy
pytz
split-settings
pydantic-settings
psycopg2-binary
geopy
uvicorn
fastapi
pydantic
orjson
requests
asyncpg
aiogram
python-jose[cryptography]
passlib[bcrypt]
django-countries
django-cities-light
django-hosts
gunicorn
redis>=5.0
pillow
python-barcode
reportlab